@mixin overflow
{
overflow-x: hidden;
}


.ResultsFilter
{
width: 40vw;
margin:0 2.5% 0 2.5%;
@include overflow();
font-size:0.8rem;
}

.menu{
    display: none;
}
#font
{
    font-size: 0.8rem;
    color: rgb(75, 75, 75)
}

.Results_main
{
    display: flex;
    flex-wrap: wrap;
    margin:70px 0px 70px 0px;
    @include overflow();
    width: 100%;
     
}

.ResultsCard
{
    margin:40px 20px;
    border-radius: 4px;
    transition: all 0.8s ease-in-out;
    box-sizing: border-box;
    width: 232px;
   
    
    img
    {
        border-radius: 4px;
        width: 230px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.viewProduct
{
    background-color: #6D84FFB5;
    color: white;
    padding:10px 0px;
    display: flex;
    justify-content: center;
    height: min-content;
    opacity: 0;
    position: relative;
    bottom: 40px;

}

.info,.wishList
{
    margin: 0px 5px;

}
.wishList
{
    height: 30px;
}
.productImage
{
    display: flex;
}

.productImage:hover + .viewProduct {
    opacity: 1; 
    transition: 0.3s ease-in-out;
  }

  @media only screen and (max-width: 600px)
   {
  .menu
  {
    display: block;
  }
  .Results_main
  {
    width: 100%;
    padding: 0;
    margin: 100px 20px;
    justify-content: center;
    align-items: center;
  }

  .SearchResults
  {
    display: flex;
    justify-content: center;
  }
 
  .ResultsFilter
{
width: 60vw;
z-index: 400;
}

.ResultsFilter
{
    z-index: 100;
    position: absolute;
    box-shadow: rgba(70, 73, 77, 0.2) 0px 8px 24px;
    width: 80vw;
    background-color: white;
    
    h2 
    {
        padding-left: 15px;
    }

}

}