@mixin overflow{
    
    overflow-x: hidden;
    }
    
.ResultsFilter
{
min-width:20%;
max-width: 20%;
margin:0 2.5% 0 2.5%;
@include overflow()

}

#font
{
    font-size: 0.8rem;
    color: rgb(75, 75, 75)
}

.Results_main
{
    display: flex;
    flex-wrap: wrap;
    margin:70px 0px 70px 0px;
    @include overflow();
}

.ResultsCard
{
    margin:10px;
    border-radius: 4px;
    img
    {
        border-radius: 4px;
    }
}