.SuggestionBox
{
  background-color: white;
  width: 60%;
  border-radius: 15px;
  position: absolute;
  top:30%;
  padding: 10px 20px;
  font-size: 120%;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  height: 60vh;  
}

.SuggestionBox::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
p
{
  color:#000000cc;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
}

.trends
{
  display:flex ;
  justify-content: space-between;
  overflow-y: hidden;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  padding-bottom: 10px;
}

.trends::-webkit-scrollbar {
  display: none;
}